#Method configuration
METHOD = glmnet
ALPHA = 1

FS_METHOD = none


#resampling configuration
RESAMPLING = LGOCV
REPETITIONS = 16
FRACTION = .9

#Optimization configuration
OPTIMIZE = TRUE
GRID_RESOLUTION = 10
OPTIMIZATION_CRITERION = performance
METRIC = RMSE
INTERNAL_RESAMPLING = CV
INTERNAL_REPETITIONS = 3
INTERNAL_CV_FOLDS = 10


#Signature aggregation approach
AGGREGATION_METHOD = CAL

#stability metric
STABILITY_METRIC = ALL

#performance metric
PERFORMANCE_METRIC = ALL
